/* body {
    width: 80%;
    margin: 0 auto;
} */

.logo {
    height: 3rem;
    padding-bottom: 1.5rem;
}

header {
    display: block;
    background-color: rgb(85, 68, 68);
    padding: 2rem;
    text-align: center;

}

header input {
    padding: .5rem .5rem .5rem 3rem;
    font-size: 1.5rem;
    margin: 0 auto;
}

.searchContainer {
    display: flex;
    position: relative;
}

.searchContainer img {
    height: 2.5rem;
}

.hero {
    display: flex;
    height: 40rem;
    justify-content: center;
    align-items: center;
    background-image: url("https://d29fhpw069ctt2.cloudfront.net/photo/6239/preview/46925327-c7d1-46c7-aceb-8fa39a964e68_1280x1280.jpg");
}

.hero h1{
    text-align: center;
    vertical-align: middle;
    color: brown;
}

.content {
    text-align: center;
}

.content img {
    height: 15rem;
    border-radius: 50%;
}

.content h2, h3 {
    color: chartreuse;
}

.email {
    font-weight: 600;
}

.atskirimas {
    height: 1.5rem;
    background-color: darkgoldenrod;
}

.footeris {
    background-color: rgb(85, 68, 68);
    padding: 1rem 0 2rem;
    text-align: center;
}

.footeris a {
    color: white;
    display: block;
    text-decoration: none;
}